@charset "UTF-8";

* {
font-family: Arial, Helvetica, sans-serif;
/*height: 100%;*/
}

body {
 background-image: linear-gradient(to right, #F29C50, #F28066);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(105, 43, 55, 0.521);
    width: 400px;
    padding: 10px;
    margin: auto;
}

h1 {
color: #F2AE2E;
text-align: center;
text-shadow: 1px 1px 2px #6347144f;
}

h2 {
color: #D95970;

}

p {
    text-align: justify;
}

